.change-password-modal {
    .modal-body {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        gap: 1.5rem;

        .ant-form-item {
            margin-bottom: 1.5rem;
        }
       .ant-form-item-label {
        width: 250px;
        text-align: right;
        padding-right: 35px; 
        font-weight: 500; 
      }
    }

    .modal-footer {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;

        button {
            min-width: 100px;
        }
    }
}
